.App {
  background-color: #f2f4ff;
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
}

.Container {
  width: 55%;
  margin: auto;
  padding: 40px 0px;
}

.HeaderRes,
.MenuRes,
.Curtain {
  display: none;
}

.Header {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.Header__Container {
  background-color: #fff;
  width: 33%;
  padding: 20px 25px;
  height: 150px;
  border-radius: 15px;
}

.Header .Header__Container:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('./assets/header-background.png');
  background-size: cover;
  color: #fff;
}

.Header .Header__Container:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.Header__Container-Title {
  font-size: 18px;
  font-weight: 800;
  justify-self: end;
}

.Header__Container-Subtitle {
  font-size: 14px;
}

.Header__Container-Button {
  padding: 8px 15px;
  background-color: #f2f4ff;
  color: #4661e6;
  height: min-content;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  .Header__Container .Header__Container-Button:hover {
    background-color: #7c91f9;
    color: #f2f4fe;
  }
}

.Header__Container-Header {
  display: flex;
  align-items: center;
}

.Header__Container-Header-Title {
  font-weight: 800;
  color: #3a4374;
  font-size: 18px;
}

.Header__Container-Header-Link {
  color: #4661e6;
  text-decoration: underline;
  font-size: 14px;
  margin-left: auto;
}

.Header__Container-Statuses {
  margin-top: auto;
  margin-bottom: auto;
}

.Header__Container-Statuses-Div {
  display: flex;
  align-items: center;
  padding: 2.5px 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.Header__Container-Statuses-Div-Pin {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 10px;
}

.Header__Container-Statuses-Div-Text {
  color: #647196;
}

.Header__Container-Statuses-Div-Number {
  font-weight: 800;
  color: #3a4374;
  margin-left: auto;
}

.Header__Container-Statuses .Header__Container-Statuses-Div:first-child .Header__Container-Statuses-Div-Pin {
  background-color: #f49f85;
}

.Header__Container-Statuses .Header__Container-Statuses-Div:nth-child(2) .Header__Container-Statuses-Div-Pin {
  background-color: #ad1fea;
}

.Header__Container-Statuses .Header__Container-Statuses-Div:nth-child(3) .Header__Container-Statuses-Div-Pin {
  background-color: #62bcfa;
}

.Bar {
  padding: 10px 25px;
  background-color: #373f68;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 25px;
}

.Bar__Container,
.Bar__Container-Wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}

.Bar .Bar__Container:first-child {
  gap: 1rem;
}

.Bar .Bar__Container:first-child {
  font-size: 18px;
  color: #fff;
}

.Bar__Container-Suggestions {
  font-size: 18px;
  font-weight: 800;
}

.Bar__Container-Wrapper {
  gap: 5px;
  margin-left: 35px;
}

.Bar__Container-Menu {
  position: absolute;
  left: 40%;
  top: 150%;
  background-color: #fff;
  width: 110%;
  padding: 5px 0px;
  border-radius: 15px;
  box-shadow: 0 10px 20px -7px rgba(55,63,104,.26);
  opacity: 0;
  visibility: hidden;
  z-index: 18000;
}

.Bar__Container-Menu-Row {
  display: flex;
  padding: 8px 25px;
  align-items: center;
  cursor: pointer;
  z-index: 10000;
}

.Bar__Container-Menu-Row:not(:last-child) {
  border-bottom: 1px solid #647196;
}

.Bar__Container-Menu-Row-Text {
  color: #647196;
  font-weight: 600;
  font-size: 14px;
  transition: all .2s ease-in-out;
}

.Bar__Container-Menu-Row i {
  color: #ad1fea;
  font-size: 18px;
  margin-left: auto;
}

@media only screen and (min-width: 1024px) {
  .Bar__Container-Menu-Row:hover .Bar__Container-Menu-Row-Text {
    color: #ad1fea;
  }
}

.Bar .Bar__Container:last-child {
  margin-left: auto;
}

.Bar__Container .Bar__Container-Text:nth-child(2),
.Bar__Container i {
  font-weight: 600;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.Bar__Container-Wrapper.Active .bx-chevron-down {
  transform: rotate(180deg);
}

.Bar__Container-Button {
  padding: 15px 25px;
  background-color: #ad1fea;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .Bar__Container-Button:hover {
    background-color:#c75af6;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NoContent {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding: 60px 20%;
  gap: 15px;
  align-items: center;
}

.NoContent__Container-Header {
  font-weight: 700;
  color: #3a4374;
}

.NoContent__Container-Text {
  text-align: center;
  color: #647196;
}

.Content__Element {
  display: flex;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 15px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.Content__Element-Votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  padding: 10px 15px;
  background-color: #f2f4ff;
  color: #373f68;
  border-radius: 15px;
  margin-right: 25px;
  transition: all .2s ease-in-out;
}

.Content__Element-Votes i,
.Content__Element-Votes-Number {
  font-weight: 800;
}

.Content__Element-Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Content__Element-Content-Title {
  font-weight: 800;
  color: #373f68;
  font-size: 18px;
}

.Content__Element-Content-Text {
  color: #647196;
}

.Content__Element-Content-Categories {
  display: flex;
}

.Content__Element-Comments {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 18px;
}

.Content__Element-Comments i {
  color: #647196;
  margin-right: 10px;
}

.Content__Element-Comments-Number {
  color: #373f68;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .Content__Element:hover {
    transform: scale(101%);
  }

  .Content__Element-Votes:hover {
    background-color: #cfd7ff;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 700px) {
  .Container {
    width: 90%;
    margin: auto;
    padding: 40px 0px;
  }

  .Header__Container {
    height: auto;
  }
}

@media only screen and (max-width: 699px) and (min-width: 500px) {

  .Container {
    width: auto;
    margin: 0;
    padding: 0 0;
  }

  .Header {
    display: none;
  }

  .HeaderRes {
    display: block;
    padding: 15px;
    background-image: url("./assets/headerres-background.png");
    background-size: cover;
    color: white;
  }

  .Bar {
    padding: 15px;
    background-color: #373f68;
    display: flex;
    align-items: center;
    border-radius: 0px;
    margin-bottom: 25px;
  }

  .Bar .Bar__Container:first-child {
    display: none;
  }

  .Content {
    padding: 0px 5%;
  }
}

@media only screen and (max-width: 499px) {
  .App {
    height: max-content;
    padding-bottom: 20px;
  }
  
  .Container {
    width: auto;
    margin: 0;
    padding: 0 0;
  }

  .Header {
    display: none;
  }

  .HeaderRes {
    display: flex;
    padding: 15px 20px;
    background-image: url("./assets/headerres-background.png");
    background-size: cover;
    color: white;
  }

  .HeaderRes .HeaderRes__Container:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    width: 30px;
  }

  .HeaderRes__Container-Span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  }

  .HeaderRes__Container .HeaderRes__Container-Span:first-child {
    transform-origin: 4px 7px;
  }

  .HeaderRes__Container .HeaderRes__Container-Span:last-child {
    transform-origin: 3px -4px;
  }

  .HeaderRes__Container.Active .HeaderRes__Container-Span:first-child {
    transform: rotate(45deg);
  }

  .HeaderRes__Container.Active .HeaderRes__Container-Span:nth-child(2) {
    opacity: 0;
  }

  .HeaderRes__Container.Active .HeaderRes__Container-Span:last-child {
    transform: rotate(-45deg);
  }

  .HeaderRes__Container-Span:not(:last-child) {
    margin-bottom: 5px;
  }

  .Bar {
    padding: 15px 10px;
    background-color: #373f68;
    display: flex;
    align-items: center;
    border-radius: 0px;
    margin-bottom: 25px;
  }

  .Bar__Container-Wrapper {
    margin-left: 0;
  }

  .Bar .Bar__Container:first-child {
    display: none;
  }

  .Content {
    padding: 0px 5%;
    position: relative;
  }

  .NoContent {
    margin: 0px 5%;
  }

  .NoContent p {
    text-align: center;
  }

  .Content__Element {
    flex-wrap: wrap;
  }

  .Content__Element-Votes {
    flex-direction: row;
    width: min-content;
    margin-right: 0;
    order: 2;
  }

  .Content__Element-Content {
    margin-bottom: 25px;
  }

  .Content__Element-Votes i {
    margin-right: 15px;
  }

  .Content__Element-Comments {
    margin-left: auto;
    order: 3;
  }

  .MenuRes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: -25px;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #f2f4ff;
    padding: 20px 20px;
    z-index: 20000;
    transition: all .2s ease-in-out;
  }

  .MenuRes.Active {
    right: 0;
  }

  .MenuRes .Header__Container {
    background-color: #fff;
    width: auto;
    padding: 20px 25px;
    height: auto;
    border-radius: 15px;
  }

  .Curtain {
    display: block;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: -25px;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 19000;
    padding: 20px 0px;
  }

  .Curtain.Inactive {
    animation: fadeOut .2s ease-in-out forwards;
  }

  .Curtain.Active {
    animation: fadeIn .2s ease-in-out forwards;
  }
}

.Bar__Container-Menu.Active {
  animation: SlideIn .2s ease-in-out forwards;
}

.Hidden {
  display: none;
}

.ButtonActive {
  background-color: #4661e6;
  color: white;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  to {
    visibility: visible;
    opacity: .8;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
  }

  99% {
    opacity: 0;
  }

  to {
    visibility: hidden;
  }
}

@keyframes SlideIn {
  from {
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}